## Yelp Dataset Pruning

### Purpose

This script is designed to prune the Yelp dataset obtained online, making it suitable for use with scikit-learn machine learning models. The pruning process involves cleaning and refining the dataset to ensure it aligns with the requirements of scikit-learn.

### Steps

1. **Data Input:**
   - Ensure the Yelp dataset in JSON format is available online.

2. **Run Script:**
   - Execute this file to run the pruning script.

3. **Output:**
   - The script generates a pruned version of the Yelp dataset ready for scikit-learn usage.

### Notes

- Verify that the pruned features are in accordance with scikit-learn model requirements.
- Keep a backup of the original dataset obtained online.

#### Dependencies

In [21]:
#pip install pandas

In [22]:
#pip install geopy

In [23]:
#pip install rtree

In [24]:
#pip install geopandas

In [8]:
pip install census

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: census in /Users/mihir/Library/Python/3.9/lib/python/site-packages (0.8.21)
Requirement already satisfied: requests>=1.1.0 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from census) (2.31.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from requests>=1.1.0->census) (3.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from requests>=1.1.0->census) (3.3.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from requests>=1.1.0->census) (2023.11.17)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mihir/Library/Python/3.9/lib/python/site-packages (from requests>=1.1.0->census) (2.1.0)
WARNING: You are using pip version 21.2.4; however, version 23.3.2 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Import Relevant Packages
import pandas as pd
import geopy

/Users/mihir/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [7]:
#Import CSV File
yelp = pd.read_csv("../data/yelp_dataset.csv", #Directory
                 usecols=['business_id',
                          'postal_code',
                          'name',
                          'address',
                          'city',
                          'state',
                          'latitude',
                          'longitude',
                          'stars',
                          'review_count',
                          'categories'])

In [8]:
#Shape
print(yelp.shape)
print(yelp.head(50))

(150346, 11)
               business_id                                 name  \
0   Pns2l4eNsfO8kk83dixA6A             Abby Rappoport, LAC, CMQ
1   mpf3x-BjTdTEA3yCZrAYPw                        The UPS Store
2   tUFrWirKiKi_TAnsVWINQQ                               Target
3   MTSW4McQd7CbVtyjqoe9mw                   St Honore Pastries
4   mWMc6_wTdE0EUBKIGXDVfA             Perkiomen Valley Brewery
5   CF33F8-E6oudUQ46HnavjQ                       Sonic Drive-In
6   n_0UpQx1hsNbnPUSlodU8w                      Famous Footwear
7   qkRM_2X51Yqxk3btlwAQIg                       Temple Beth-El
8   k0hlBqXX-Bt0vf1op7Jr1w                Tsevi's Pub And Grill
9   bBDDEgkFA1Otx9Lfe7BZUQ                       Sonic Drive-In
10  UJsufbvfyfONHeWdvAHKjA                            Marshalls
11  eEOYSgkmpB90uNA7lDOMRA                Vietnamese Food Truck
12  il_Ro8jwPlHresjw9EGmBg                              Denny's
13  jaxMSoInw8Poo3XeMJt8lQ                         Adams Dental
14  0bPLkL0QhhPO5kt1_EXmNQ                 Zio's Italian Market
15  MUTTqe8uqyMdBl186RmNeA                             Tuna Bar
16  rBmpy_Y1UbBx8ggHlyb7hA             Arizona Truck Outfitters
17  M0XSSHqrASOnhgbWDJIpQA                       Herb Import Co
18  8wGISYjYkE2tSqn3cDMu8A                     Nifty Car Rental
19  ROeacJQwBeh05Rqg7F6TCg                                  BAP
20  WKMJwqnfZKsAae75RMP6jA       Roast Coffeehouse and Wine Bar
21  qhDdDeI3K4jy2KyzwFN53w           Barnes & Noble Booksellers
22  kfNv-JZpuN6TVNSO6hHdkw                      Hibachi Express
23  9OG5YkX1g2GReZM0AskizA              Romano's Macaroni Grill
24  4iRzR7OaS-QaSXuvYxEGKA                            Super Dog
25  PSo_C1Sfa13JHjzVNW6ziQ        Indian Walk Veterinary Center
26  noByYNtDLQAra9ccqxdfDw                                  H&M
27  tMkwHmWFUEXrC9ZduonpTg                   The Green Pheasant
28  QdN72BWoyFypdGJhhI5r7g                              Bar One
29  sqSqqLy0sN8n2IZrAbzidQ                       Domino's Pizza
30  fvWn8oXXwbj2l79cochZyw     Altitude Trampoline Park - Boise
31  Mjboz24M9NlBeiOJKLEd_Q                     DeSandro on Main
32  8sshLb4UU7emeUDvtJWnpA                            DanceLine
33  kV_Q1oqis8Qli8dUoGpTyQ                        Ardmore Pizza
34  w_AMNoI1iG9eay7ncmc67w                            River 127
35  aPNXGTDkf-4bjhyMBQxqpQ                           Craft Hall
36  2xVsWBNFwZOxIOdd9Mwnww             Cheeseburger In Paradise
37  mGFsPRHdE6SMV1gYQ6GzgQ                             T-Mobile
38  LcAozWCMLGjwRbokaJAKMg       Edwardsville Children's Museum
39  fSCNwMtNNQY9QT69Cj9fiA                    Sierra Pro Events
40  x1mhq4IpWctQOBM06dU8vg                 Diamond Hair Company
41  ljxNT9p0y7YMPx0fcNBGig  Tony's Restaurant & 3rd Street Cafe
42  lwItZ1Ck3KtpCgG4CPFmpQ        Stomel Elliot Attorney-At-Law
43  Kq51_lGAgAigqmENITTr-A                   Bala Better Health
44  mglME3E7esPSpIF5bias8w                               Pier 1
45  wghnIlMb_i5U46HMBGx9ig              China Dragon Restaurant
46  JX4tUpd09YFchLBuI43lGw      Naked Cyber Cafe & Espresso Bar
47  lk9IwjZXqUMqqOhM774DtQ                     Caviar & Bananas
48  bCBPXIVfVzBZBEpFu29dcg                      All In Shipping
49  ABxoFuzZy5mqQ8C5FJJajQ                         Core de Roma

                                       address            city state  \
0                       1616 Chapala St, Ste 2   Santa Barbara    CA
1              87 Grasso Plaza Shopping Center          Affton    MO
2                         5255 E Broadway Blvd          Tucson    AZ
3                                  935 Race St    Philadelphia    PA
4                                101 Walnut St      Green Lane    PA
5                                615 S Main St    Ashland City    TN
6   8522 Eager Road, Dierbergs Brentwood Point       Brentwood    MO
7                           400 Pasadena Ave S  St. Petersburg    FL
8                            8025 Mackenzie Rd          Affton    MO
9                          2312 Dickerson Pike       Nashville    TN
10                   21705 Village Lakes Sc Dr   Land O' Lakes    FL
11                                         NaN       Tampa Bay    FL
12                                8901 US 31 S    Indianapolis    IN
13                           15 N Missouri Ave      Clearwater    FL
14                               2575 E Bay Dr           Largo    FL
15                                 205 Race St    Philadelphia    PA
16                             625 N Stone Ave          Tucson    AZ
17                                712 Adams St     New Orleans    LA
18                             1241 Airline Dr          Kenner    LA
19                               1224 South St    Philadelphia    PA
20                         10359 104 Street NW        Edmonton    AB
21                    8675 River Crossing Blvd    Indianapolis    IN
22                              6625 E 82nd St    Indianapolis    IN
23                          5505 S Virginia St            Reno    NV
24                        1160 Gallatin Pike S       Nashville    TN
25                               662 Durham Rd         Newtown    PA
26                            827-833 State St   Santa Barbara    CA
27                               215 1st Ave S       Nashville    TN
28                                767 S 9th St    Philadelphia    PA
29                           3001 Highway 31 W     White House    TN
30                         1301 N Milwaukee St           Boise    ID
31                                4105 Main St    Philadelphia    PA
32                          30 W Lancaster Ave           Paoli    PA
33                           10 Rittenhouse Pl         Ardmore    PA
34                            100 Iberville St     New Orleans    LA
35                          901 N Delaware Ave    Philadelphia    PA
36                        116 N Pottstown Pike           Exton    PA
37                           4735 Concord Pike      Wilmington    DE
38                             722 Holyoake Rd    Edwardsville    IL
39                                         NaN          Sparks    NV
40                              5324 W 16th St    Indianapolis    IN
41                                312 Piasa St           Alton    IL
42                          532 Rte 70 W, Fl 2     Cherry Hill    NJ
43                       2 Bala Plz, Ste PL-11     Bala Cynwyd    PA
44                         1014 Baltimore Pike     Springfield    PA
45             1625 W Valencia Rd, Ste 101-103          Tucson    AZ
46                        10303  108 Street NW        Edmonton    AB
47                               2031 Broadway       Nashville    TN
48                 5343 Belleville Crossing St      Belleville    IL
49                            201 Jefferson St     Bala Cynwyd    PA

   postal_code   latitude   longitude  stars  review_count  \
0        93101  34.426679 -119.711197    5.0             7
1        63123  38.551126  -90.335695    3.0            15
2        85711  32.223236 -110.880452    3.5            22
3        19107  39.955505  -75.155564    4.0            80
4        18054  40.338183  -75.471659    4.5            13
5        37015  36.269593  -87.058943    2.0             6
6        63144  38.627695  -90.340465    2.5            13
7        33707  27.766590  -82.732983    3.5             5
8        63123  38.565165  -90.321087    3.0            19
9        37207  36.208102  -86.768170    1.5            10
10       34639  28.190459  -82.457380    3.5             6
11       33602  27.955269  -82.456320    4.0            10
12       46227  39.637133  -86.127217    2.5            28
13       33755  27.966235  -82.787412    5.0            10
14       33771  27.916116  -82.760461    4.5           100
15       19106  39.953949  -75.143226    4.0           245
16       85705  32.229872 -110.972342    4.5            10
17       70118  29.941468  -90.129953    4.0             5
18       70062  29.981183  -90.254012    3.5            14
19       19147  39.943223  -75.162568    4.5           205
20     T5J 1B9  53.546045 -113.499169    4.0            40
21       46240  39.913820  -86.105739    4.0            38
22       46250  39.904320  -86.053080    4.0            20
23       89502  39.476117 -119.789339    2.5           339
24       37115  36.248570  -86.719986    4.0             6
25       18940  40.273493  -74.987496    5.0            15
26       93101  34.420209 -119.700460    3.0            24
27       37201  36.159886  -86.773197    4.0           161
28       19147  39.939825  -75.157447    4.0            65
29       37188  36.464747  -86.659187    3.5             8
30       83704  43.616763 -116.285382    5.0            30
31       19127  40.022466  -75.218314    3.0            41
32       19301  40.041585  -75.484953    4.5            11
33       19003  40.006707  -75.289671    3.5           109
34       70130  29.951359  -90.064672    3.0            12
35       19123  39.962582  -75.135657    3.5            65
36       19341  40.029962  -75.630607    2.5            20
37       19803  39.822176  -75.546007    2.0             6
38       62025  38.804395  -89.949733    4.5            12
39       89431  39.540154 -119.748395    5.0             7
40       46224  39.787464  -86.251421    1.5            25
41       62002  38.896563  -90.186203    3.0            94
42       08002  39.915478  -75.016973    5.0             5
43       19004  40.006870  -75.217262    4.0            13
44       19064  39.915270  -75.342681    2.5             8
45       85746  32.132305 -110.999985    3.0            23
46     T5J 1L7  53.544682 -113.506589    4.0            12
47       37203  36.148371  -86.798895    3.5           159
48       62226  38.517586  -90.021929    5.0             5
49       19004  40.028357  -75.238084    5.0            12

                                           categories
0   Doctors, Traditional Chinese Medicine, Naturop...
1   Shipping Centers, Local Services, Notaries, Ma...
2   Department Stores, Shopping, Fashion, Home & G...
3   Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                           Brewpubs, Breweries, Food
5   Burgers, Fast Food, Sandwiches, Food, Ice Crea...
6   Sporting Goods, Fashion, Shoe Stores, Shopping...
7                 Synagogues, Religious Organizations
8   Pubs, Restaurants, Italian, Bars, American (Tr...
9   Ice Cream & Frozen Yogurt, Fast Food, Burgers,...
10               Department Stores, Shopping, Fashion
11         Vietnamese, Food, Restaurants, Food Trucks
12  American (Traditional), Restaurants, Diners, B...
13  General Dentistry, Dentists, Health & Medical,...
14        Food, Delis, Italian, Bakeries, Restaurants
15                  Sushi Bars, Restaurants, Japanese
16  Automotive, Auto Parts & Supplies, Auto Custom...
17  Vape Shops, Tobacco Shops, Personal Shopping, ...
18  Automotive, Car Rental, Hotels & Travel, Truck...
19                                Korean, Restaurants
20  Coffee & Tea, Food, Cafes, Bars, Wine Bars, Re...
21   Shopping, Books, Mags, Music & Video, Bookstores
22             Steakhouses, Asian Fusion, Restaurants
23                               Restaurants, Italian
24                              Hot Dogs, Restaurants
25    Pet Services, Pet Groomers, Pets, Veterinarians
26  Women's Clothing, Accessories, Children's Clot...
27                     Restaurants, Japanese, Seafood
28  Cocktail Bars, Bars, Italian, Nightlife, Resta...
29      Pizza, Chicken Wings, Sandwiches, Restaurants
30                      Trampoline Parks, Active Life
31                    Pizza, Restaurants, Salad, Soup
32  Dance Wear, Sports Wear, Children's Clothing, ...
33                                 Pizza, Restaurants
34  Event Planning & Services, Hotels, Hotels & Tr...
35  Eatertainment, Arts & Entertainment, Brewpubs,...
36                               Restaurants, Burgers
37  Mobile Phones, Telecommunications, Electronics...
38  Museums, Kids Activities, Arts & Entertainment...
39  Musicians, DJs, Karaoke, Event Planning & Serv...
40  Hair Salons, Hair Extensions, Beauty & Spas, W...
41  Restaurants, Specialty Food, Steakhouses, Food...
42  DUI Law, Professional Services, Lawyers, Crimi...
43  Health & Medical, Beauty & Spas, Laser Hair Re...
44  Fashion, Shopping, Department Stores, Furnitur...
45                               Restaurants, Chinese
46  Arts & Entertainment, Music Venues, Internet S...
47  Coffee & Tea, Restaurants, Wine Bars, Bars, Ni...
48                   Shipping Centers, Local Services
49                               Restaurants, Italian

In [9]:
#Filters
yelp = yelp[yelp['categories'].str.contains('restaurants', case=False, na=False)]
#Just United States
canadian_provinces = ['AB', 'BC', 'MB', 'NB', 'NL', 'NS', 'NT', 'NU', 'ON', 'PE', 'QC', 'SK', 'YT']
yelp = yelp[~yelp['state'].isin(canadian_provinces)]
print(yelp.shape)
print(yelp.head())

(49858, 11)
               business_id                   name              address  \
3   MTSW4McQd7CbVtyjqoe9mw     St Honore Pastries          935 Race St
5   CF33F8-E6oudUQ46HnavjQ         Sonic Drive-In        615 S Main St
8   k0hlBqXX-Bt0vf1op7Jr1w  Tsevi's Pub And Grill    8025 Mackenzie Rd
9   bBDDEgkFA1Otx9Lfe7BZUQ         Sonic Drive-In  2312 Dickerson Pike
11  eEOYSgkmpB90uNA7lDOMRA  Vietnamese Food Truck                  NaN

            city state postal_code   latitude  longitude  stars  review_count  \
3   Philadelphia    PA       19107  39.955505 -75.155564    4.0            80
5   Ashland City    TN       37015  36.269593 -87.058943    2.0             6
8         Affton    MO       63123  38.565165 -90.321087    3.0            19
9      Nashville    TN       37207  36.208102 -86.768170    1.5            10
11     Tampa Bay    FL       33602  27.955269 -82.456320    4.0            10

                                           categories
3   Restaurants, Food, Bubble Tea, Coffee & Tea, B...
5   Burgers, Fast Food, Sandwiches, Food, Ice Crea...
8   Pubs, Restaurants, Italian, Bars, American (Tr...
9   Ice Cream & Frozen Yogurt, Fast Food, Burgers,...
11         Vietnamese, Food, Restaurants, Food Trucks

### Census Datasets via American Community Survey 2022
#### Refining: B01001, DP05, S1903

In [14]:
#B01001: Sex by Age
b01001 = pd.read_csv('./data/B01001/ACSDT5Y2022.B01001-Data.csv') #Read File
b01001.drop(columns=[col for col in b01001.columns[2:] if 'M' in col], inplace=True)
b01001.drop(b01001.columns[-1:], axis=1, inplace=True)

#Convert ZCTA to Zipcode
b01001['NAME'] = b01001['NAME'].str[6:]
b01001.at[0, 'NAME'] = 'Geographic Area Name'

#Make CSV
#b01001.to_csv('checkb0.csv', index=False)

print(b01001.shape)
print(b01001.head())

(33775, 51)
           GEO_ID                  NAME       B01001_001E  \
0       Geography  Geographic Area Name  Estimate!!Total:
1  860Z200US00601                 00601             16834
2  860Z200US00602                 00602             37642
3  860Z200US00603                 00603             49075
4  860Z200US00606                 00606              5590

               B01001_002E                             B01001_003E  \
0  Estimate!!Total:!!Male:  Estimate!!Total:!!Male:!!Under 5 years
1                     8337                                     309
2                    18405                                     603
3                    23813                                     827
4                     2723                                      98

                             B01001_004E  \
0  Estimate!!Total:!!Male:!!5 to 9 years
1                                    419
2                                    801
3                                   1135
4                                     98

                               B01001_005E  \
0  Estimate!!Total:!!Male:!!10 to 14 years
1                                      523
2                                     1039
3                                     1394
4                                      131

                               B01001_006E  \
0  Estimate!!Total:!!Male:!!15 to 17 years
1                                      320
2                                      647
3                                      928
4                                       91

                                B01001_007E  \
0  Estimate!!Total:!!Male:!!18 and 19 years
1                                       233
2                                       448
3                                       712
4                                        59

                         B01001_008E  ...  \
0  Estimate!!Total:!!Male:!!20 years  ...
1                                142  ...
2                                212  ...
3                                385  ...
4                                121  ...

                                 B01001_040E  \
0  Estimate!!Total:!!Female:!!50 to 54 years
1                                        605
2                                       1416
3                                       1651
4                                        188

                                 B01001_041E  \
0  Estimate!!Total:!!Female:!!55 to 59 years
1                                        551
2                                       1358
3                                       1648
4                                        171

                                  B01001_042E  \
0  Estimate!!Total:!!Female:!!60 and 61 years
1                                         300
2                                         615
3                                         817
4                                         116

                                 B01001_043E  \
0  Estimate!!Total:!!Female:!!62 to 64 years
1                                        467
2                                       1169
3                                       1204
4                                        162

                                  B01001_044E  \
0  Estimate!!Total:!!Female:!!65 and 66 years
1                                         265
2                                         505
3                                         710
4                                         109

                                 B01001_045E  \
0  Estimate!!Total:!!Female:!!67 to 69 years
1                                        298
2                                        670
3                                        854
4                                        140

                                 B01001_046E  \
0  Estimate!!Total:!!Female:!!70 to 74 years
1                                        452
2                                       1217
3                                       1827
4                                        152

                                 B01001_047E  \
0  Estimate!!Total:!!Female:!!75 to 79 years
1                                        370
2                                        891
3                                       1247
4                                         91

                                 B01001_048E  \
0  Estimate!!Total:!!Female:!!80 to 84 years
1                                        236
2                                        526
3                                        852
4                                        123

                                    B01001_049E
0  Estimate!!Total:!!Female:!!85 years and over
1                                           186
2                                           519
3                                           762
4                                           142

[5 rows x 51 columns]

/var/folders/6l/xb2bmr4d5718m4gjtrxd8h2w0000gn/T/ipykernel_19673/2292360323.py:2: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99) have mixed types. Specify dtype option on import or set low_memory=False.
  b01001 = pd.read_csv('./data/B01001/ACSDT5Y2022.B01001-Data.csv') #Read File

In [15]:
#DP05: ACS Demographic and Housing Estimates
dp05 = pd.read_csv('./data/DP05/ACSDP5Y2022.DP05-Data.csv') #Read Directory
dp05.drop(columns=[col for col in dp05.columns[2:] if 'M' in col or 'PE' in col], inplace=True) #Remove Margin of Error Rows
dp05.drop(dp05.columns[2:34], axis=1, inplace=True)
dp05.drop(dp05.columns[-5:], axis=1, inplace=True)

#Convert ZCTA to Zipcode
dp05['NAME'] = dp05['NAME'].str[6:]
dp05.at[0, 'NAME'] = 'Geographic Area Name'

#Make CSV
#dp05.to_csv('checkdp.csv', index=False)

print(dp05.shape)
print(dp05.head())

/var/folders/6l/xb2bmr4d5718m4gjtrxd8h2w0000gn/T/ipykernel_19673/3981775934.py:2: DtypeWarning: Columns (2,3,4,5,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,58,59,60,61,62,63,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,232,240,248,312,326,360) have mixed types. Specify dtype option on import or set low_memory=False.
  dp05 = pd.read_csv('./data/DP05/ACSDP5Y2022.DP05-Data.csv') #Read Directory

(33775, 57)
           GEO_ID                  NAME                        DP05_0033E  \
0       Geography  Geographic Area Name  Estimate!!RACE!!Total population
1  860Z200US00601                 00601                             16834
2  860Z200US00602                 00602                             37642
3  860Z200US00603                 00603                             49075
4  860Z200US00606                 00606                              5590

                                   DP05_0034E  \
0  Estimate!!RACE!!Total population!!One race
1                                       15673
2                                       20605
3                                       44847
4                                        5289

                                          DP05_0035E  \
0  Estimate!!RACE!!Total population!!Two or More ...
1                                               1161
2                                              17037
3                                               4228
4                                                301

                                   DP05_0036E  \
0  Estimate!!RACE!!Total population!!One race
1                                       15673
2                                       20605
3                                       44847
4                                        5289

                                          DP05_0037E  \
0  Estimate!!RACE!!Total population!!One race!!White
1                                              14170
2                                              18479
3                                              36216
4                                               3721

                                          DP05_0038E  \
0  Estimate!!RACE!!Total population!!One race!!Bl...
1                                                348
2                                                555
3                                               1719
4                                                  9

                                          DP05_0039E  \
0  Estimate!!RACE!!Total population!!One race!!Am...
1                                                 14
2                                                 47
3                                                 32
4                                                  0

                                          DP05_0040E  ...  \
0  Estimate!!RACE!!Total population!!One race!!Am...  ...
1                                                  0  ...
2                                                  0  ...
3                                                  0  ...
4                                                  0  ...

                                          DP05_0078E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                108
2                                               2034
3                                                934
4                                                 38

                                          DP05_0079E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                 71
2                                               1646
3                                                684
4                                                 38

                                          DP05_0080E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                 17
2                                                  1
3                                                 30
4                                                  0

                                          DP05_0081E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                  0
2                                                 47
3                                                  0
4                                                  0

                                          DP05_0082E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                 20
2                                                 18
3                                                 28
4                                                  0

                                          DP05_0083E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                  0
2                                                  0
3                                                  0
4                                                  0

                                          DP05_0084E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                  0
2                                                 81
3                                                 45
4                                                  0

                                          DP05_0085E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                  0
2                                                241
3                                                147
4                                                  0

                                          DP05_0086E  \
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                  0
2                                                  0
3                                                 67
4                                                  0

                                          DP05_0087E
0  Estimate!!HISPANIC OR LATINO AND RACE!!Total p...
1                                                  0
2                                                241
3                                                 80
4                                                  0

[5 rows x 57 columns]

In [16]:
#S1903: Median Income in Last 12 Months
s1903 = pd.read_csv('./data/S1903/ACSST5Y2022.S1903-Data.csv') #Read Directory
s1903.drop(columns=[col for col in s1903.columns[2:] if 'M' in col or 'C01' in col or 'C02' in col], inplace=True) #Remove Margin of Error Rows
s1903.drop(s1903.columns[-1:], axis=1, inplace=True)

#Convert ZCTA to Zipcode
s1903['NAME'] = s1903['NAME'].str[6:]
s1903.at[0, 'NAME'] = 'Geographic Area Name'

#Make CSV
#s1903.to_csv('checks1.csv', index=False)

print(s1903.shape)
print(s1903.head())

(33775, 42)
           GEO_ID                  NAME  \
0       Geography  Geographic Area Name
1  860Z200US00601                 00601
2  860Z200US00602                 00602
3  860Z200US00603                 00603
4  860Z200US00606                 00606

                                      S1903_C03_001E  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...
1                                              17526
2                                              20260
3                                              17703
4                                              19603

                                      S1903_C03_002E  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...
1                                              17882
2                                              19736
3                                              18219
4                                              20234

                                      S1903_C03_003E  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...
1                                                  -
2                                              22563
3                                              17367
4                                                  -

                                      S1903_C03_004E  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...
1                                                  -
2                                                  -
3                                                  -
4                                                  -

                                      S1903_C03_005E  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...
1                                                  -
2                                                  -
3                                                  -
4                                                  -

                                      S1903_C03_006E  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...
1                                                  -
2                                                  -
3                                                  -
4                                                  -

                                      S1903_C03_007E  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...
1                                              14289
2                                              12872
3                                              15772
4                                              18750

                                      S1903_C03_008E  ...  \
0  Estimate!!Median income (dollars)!!HOUSEHOLD I...  ...
1                                              16688  ...
2                                              21283  ...
3                                              17576  ...
4                                              19758  ...

                                      S1903_C03_031E  \
0  Estimate!!Median income (dollars)!!FAMILY INCO...
1                                              19184
2                                              23804
3                                              27694
4                                              22813

                                      S1903_C03_032E  \
0  Estimate!!Median income (dollars)!!FAMILY INCO...
1                                              37245
2                                              43086
3                                              54155
4                                              45394

                                      S1903_C03_033E  \
0  Estimate!!Median income (dollars)!!FAMILY INCO...
1                                              41688
2                                              68750
3                                              68250
4                                              78214

                                      S1903_C03_034E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              10740
2                                              13060
3                                              11301
4                                              16716

                                      S1903_C03_035E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              10357
2                                               9243
3                                               9908
4                                              14423

                                      S1903_C03_036E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                               9895
2                                               8669
3                                               9229
4                                              11938

                                      S1903_C03_037E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              21154
2                                              23676
3                                              16333
4                                                  -

                                      S1903_C03_038E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              11208
2                                              16086
3                                              13147
4                                              17899

                                      S1903_C03_039E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                               9403
2                                              15352
3                                              12382
4                                              17269

                                      S1903_C03_040E
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              23352
2                                              28872
3                                              28824
4                                              18850

[5 rows x 42 columns]

/var/folders/6l/xb2bmr4d5718m4gjtrxd8h2w0000gn/T/ipykernel_19673/3610825065.py:2: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,110,111,148,149) have mixed types. Specify dtype option on import or set low_memory=False.
  s1903 = pd.read_csv('./data/S1903/ACSST5Y2022.S1903-Data.csv') #Read Directory

In [17]:
#Join Census Datasets
census = b01001.merge(dp05, on=['NAME', 'GEO_ID'], how='inner')
census = census.merge(s1903, on=['NAME', 'GEO_ID'], how='inner')

#Make CSV
census.to_csv('./data/checkfiles/censuscheck.csv', index=False)

print(census.shape)
print(census.head())

(33775, 146)
           GEO_ID                  NAME       B01001_001E  \
0       Geography  Geographic Area Name  Estimate!!Total:
1  860Z200US00601                 00601             16834
2  860Z200US00602                 00602             37642
3  860Z200US00603                 00603             49075
4  860Z200US00606                 00606              5590

               B01001_002E                             B01001_003E  \
0  Estimate!!Total:!!Male:  Estimate!!Total:!!Male:!!Under 5 years
1                     8337                                     309
2                    18405                                     603
3                    23813                                     827
4                     2723                                      98

                             B01001_004E  \
0  Estimate!!Total:!!Male:!!5 to 9 years
1                                    419
2                                    801
3                                   1135
4                                     98

                               B01001_005E  \
0  Estimate!!Total:!!Male:!!10 to 14 years
1                                      523
2                                     1039
3                                     1394
4                                      131

                               B01001_006E  \
0  Estimate!!Total:!!Male:!!15 to 17 years
1                                      320
2                                      647
3                                      928
4                                       91

                                B01001_007E  \
0  Estimate!!Total:!!Male:!!18 and 19 years
1                                       233
2                                       448
3                                       712
4                                        59

                         B01001_008E  ...  \
0  Estimate!!Total:!!Male:!!20 years  ...
1                                142  ...
2                                212  ...
3                                385  ...
4                                121  ...

                                      S1903_C03_031E  \
0  Estimate!!Median income (dollars)!!FAMILY INCO...
1                                              19184
2                                              23804
3                                              27694
4                                              22813

                                      S1903_C03_032E  \
0  Estimate!!Median income (dollars)!!FAMILY INCO...
1                                              37245
2                                              43086
3                                              54155
4                                              45394

                                      S1903_C03_033E  \
0  Estimate!!Median income (dollars)!!FAMILY INCO...
1                                              41688
2                                              68750
3                                              68250
4                                              78214

                                      S1903_C03_034E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              10740
2                                              13060
3                                              11301
4                                              16716

                                      S1903_C03_035E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              10357
2                                               9243
3                                               9908
4                                              14423

                                      S1903_C03_036E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                               9895
2                                               8669
3                                               9229
4                                              11938

                                      S1903_C03_037E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              21154
2                                              23676
3                                              16333
4                                                  -

                                      S1903_C03_038E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              11208
2                                              16086
3                                              13147
4                                              17899

                                      S1903_C03_039E  \
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                               9403
2                                              15352
3                                              12382
4                                              17269

                                      S1903_C03_040E
0  Estimate!!Median income (dollars)!!NONFAMILY H...
1                                              23352
2                                              28872
3                                              28824
4                                              18850

[5 rows x 146 columns]

In [20]:
# Join Yelp and Census Data
description = census.iloc[:2, :] #Description of Rows from Census in Text
restaurantdemo = yelp.merge(census, left_on='postal_code', right_on='NAME', how='inner')
restaurantdemo = restaurantdemo.sort_values(by='NAME', ascending=True)

# Remove Name Column
restaurantdemo = restaurantdemo.drop(columns=['NAME'])

#New Combined Score
restaurantdemo['star_count'] = restaurantdemo['stars'] * restaurantdemo['review_count']

print(restaurantdemo.head())


#Make CSV
description.to_csv('./data/rowdescriptions.csv', index=False)
restaurantdemo.to_csv('./data/restaurantdemo.csv', index=False)

                  business_id                      name           address  \
45983  CvNdlrRJWajPz7gWoQAeJQ              Metro Grille    380 US Hwy 206
49531  gWDeSVOZh8ThPMU2G9dAtg  Helen's Cafe and Gardens  450 Telegraph Rd
49530  nChGjLmmNEOjPOWNSOKoHA       Alloway Village Inn  433 Telegraph Rd
25895  _4g4EBJowOS_LXbyMB7DnQ                McDonald's         801 Rt 38
25837  sbnRpy72YKFt7fnETWLVeA              Little Tokyo       2000 Rte 38

              city state postal_code   latitude  longitude  stars  \
45983     Flanders    NJ       07836  39.949904 -75.161599    3.0
49531      Alloway    NJ       08001  39.563830 -75.363824    4.0
49530      Alloway    NJ       08001  39.555717 -75.360766    3.5
25895  Cherry Hill    NJ       08002  39.936079 -75.044117    2.5
25837  Cherry Hill    NJ       08002  39.943728 -75.026066    4.0

       review_count  ... S1903_C03_032E S1903_C03_033E S1903_C03_034E  \
45983            17  ...         182798         241500          75721
49531             5  ...         136579              -          69773
49530            13  ...         136579              -          69773
25895            18  ...         126982         161806          53500
25837            12  ...         126982         161806          53500

      S1903_C03_035E S1903_C03_036E S1903_C03_037E S1903_C03_038E  \
45983          42083          42083              -         100134
49531              -              -              -              -
49530              -              -              -              -
25895          48480          47049         100698          63438
25837          48480          47049         100698          63438

      S1903_C03_039E S1903_C03_040E star_count
45983         100938              -       51.0
49531              -              -       20.0
49530              -              -       45.5
25895          40616         136477       45.0
25837          40616         136477       48.0

[5 rows x 157 columns]

In [10]:
# Get a list of all categories
print(yelp.head)

<bound method NDFrame.head of                    business_id                           name  \
3       MTSW4McQd7CbVtyjqoe9mw             St Honore Pastries
5       CF33F8-E6oudUQ46HnavjQ                 Sonic Drive-In
8       k0hlBqXX-Bt0vf1op7Jr1w          Tsevi's Pub And Grill
9       bBDDEgkFA1Otx9Lfe7BZUQ                 Sonic Drive-In
11      eEOYSgkmpB90uNA7lDOMRA          Vietnamese Food Truck
...                        ...                            ...
150323  w_4xUt-1AyY2ZwKtnjW0Xg           Bittercreek Alehouse
150325  l9eLGG9ZKpLJzboZq-9LRQ                           Wawa
150327  cM6V90ExQD6KMSU3rRB5ZA              Dutch Bros Coffee
150336  WnT9NIzQgLlILjPT0kEcsQ  Adelita Taqueria & Restaurant
150339  2O2K6SXPWv56amqxCECd4w                   The Plum Pit

                    address             city state postal_code   latitude  \
3               935 Race St     Philadelphia    PA       19107  39.955505
5             615 S Main St     Ashland City    TN       37015  36.269593
8         8025 Mackenzie Rd           Affton    MO       63123  38.565165
9       2312 Dickerson Pike        Nashville    TN       37207  36.208102
11                      NaN        Tampa Bay    FL       33602  27.955269
...                     ...              ...   ...         ...        ...
150323         246 N 8th St            Boise    ID       83702  43.616590
150325      19 N Bishop Ave  Clifton Heights    PA       19018  39.925656
150327  1181 N Milwaukee St            Boise    ID       83704  43.615401
150336        1108 S 9th St     Philadelphia    PA       19147  39.935982
150339      4405 Pennell Rd            Aston    DE       19014  39.856185

         longitude  stars  review_count  \
3       -75.155564    4.0            80
5       -87.058943    2.0             6
8       -90.321087    3.0            19
9       -86.768170    1.5            10
11      -82.456320    4.0            10
...            ...    ...           ...
150323 -116.202383    4.5           998
150325  -75.310344    3.0            11
150327 -116.284689    4.0            33
150336  -75.158665    4.5            35
150339  -75.427725    4.5            14

                                               categories
3       Restaurants, Food, Bubble Tea, Coffee & Tea, B...
5       Burgers, Fast Food, Sandwiches, Food, Ice Crea...
8       Pubs, Restaurants, Italian, Bars, American (Tr...
9       Ice Cream & Frozen Yogurt, Fast Food, Burgers,...
11             Vietnamese, Food, Restaurants, Food Trucks
...                                                   ...
150323  Bars, Gastropubs, Sandwiches, Nightlife, Resta...
150325  Restaurants, Sandwiches, Convenience Stores, C...
150327  Cafes, Juice Bars & Smoothies, Coffee & Tea, R...
150336                               Restaurants, Mexican
150339  Restaurants, Comfort Food, Food, Food Trucks, ...

[49858 rows x 11 columns]>

In [11]:

# Assuming df is your DataFrame and 'categories' is the column containing comma-separated values
categories_list = yelp['categories'].str.split(',').explode().str.strip().unique().tolist()

# Display the unique words
print(categories_list)

['Restaurants', 'Food', 'Bubble Tea', 'Coffee & Tea', 'Bakeries', 'Burgers', 'Fast Food', 'Sandwiches', 'Ice Cream & Frozen Yogurt', 'Pubs', 'Italian', 'Bars', 'American (Traditional)', 'Nightlife', 'Greek', 'Vietnamese', 'Food Trucks', 'Diners', 'Breakfast & Brunch', 'Delis', 'Sushi Bars', 'Japanese', 'Korean', 'Steakhouses', 'Asian Fusion', 'Hot Dogs', 'Seafood', 'Cocktail Bars', 'Pizza', 'Chicken Wings', 'Salad', 'Soup', 'Eatertainment', 'Arts & Entertainment', 'Brewpubs', 'Breweries', 'Specialty Food', 'Pasta Shops', 'Chinese', 'Wine Bars', 'Event Planning & Services', 'Caterers', 'Cafes', 'American (New)', 'Sports Bars', 'Gastropubs', 'Beer Bar', 'Lounges', 'Wraps', 'Automotive', 'Gas Stations', 'Convenience Stores', 'Venues & Event Spaces', 'Juice Bars & Smoothies', 'Fruits & Veggies', 'Sporting Goods', 'Sports Wear', 'Fashion', 'Shopping', 'Cajun/Creole', 'Mexican', 'French', 'Moroccan', 'Mediterranean', 'Live/Raw Food', 'Beer', 'Wine & Spirits', 'Filipino', 'Barbeque', 'Performing Arts', 'Hotels & Travel', 'Beauty & Spas', 'Museums', 'Hotels', 'Cinema', 'Resorts', 'Day Spas', 'Chicken Shop', 'Thai', 'Bagels', 'Jazz & Blues', 'Southern', 'Hawaiian', 'Street Vendors', 'Irish', 'Music Venues', 'Tobacco Shops', 'Hookah Bars', 'Vegan', 'Soul Food', 'Tapas/Small Plates', 'Shanghainese', 'Szechuan', 'Karaoke', 'Irish Pub', 'Coffee Roasteries', 'Cupcakes', 'Caribbean', 'Trinidadian', 'Tex-Mex', 'Party & Event Planning', 'Ethnic Food', 'Gluten-Free', 'Latin American', 'Comfort Food', 'Donuts', 'Acai Bowls', 'Organic Stores', 'Vegetarian', 'Pakistani', 'Indian', 'Food Delivery Services', 'Halal', 'Food Stands', 'Seafood Markets', 'Active Life', 'Bowling', 'Buffets', 'Local Flavor', 'Empanadas', 'Desserts', 'Middle Eastern', 'Tacos', 'Puerto Rican', 'Festivals', 'Whiskey Bars', 'Honduran', 'Ramen', 'Noodles', 'Spanish', 'Cheesesteaks', 'African', 'Kebab', 'Turkish', 'Social Clubs', 'Arcades', 'Race Tracks', 'Mini Golf', 'Go Karts', 'Tea Rooms', 'Lebanese', 'Grocery', 'Creperies', 'Gelato', 'Golf', 'Poke', 'Shaved Ice', 'Dance Clubs', 'Falafel', 'Pretzels', 'Internet Cafes', 'Wineries', 'Tapas Bars', 'Fish & Chips', 'Dive Bars', 'Pool Halls', 'Peruvian', 'Art Galleries', 'Beer Gardens', 'Malaysian', 'Burmese', 'Imported Food', 'Cuban', 'Health Markets', 'Personal Chefs', 'Do-It-Yourself Food', 'Sicilian', 'Farmers Market', 'Themed Cafes', 'Pets', "Women's Clothing", 'Pet Adoption', 'Pet Sitting', 'Accessories', 'Pet Stores', 'Pet Services', 'Vitamins & Supplements', 'Meat Shops', 'Party Equipment Rentals', 'Sardinian', 'Laotian', 'Teppanyaki', 'Dominican', 'Ethiopian', 'Food Court', 'Shopping Centers', 'IT Services & Computer Repair', 'Local Services', 'Souvenir Shops', 'Wine Tasting Room', 'Persian/Iranian', 'Hong Kong Style Cafe', 'Taiwanese', 'Modern European', 'Pan Asian', 'Casinos', 'New Mexican Cuisine', 'Wine Tasting Classes', 'Education', 'Tasting Classes', 'Oriental', 'Florists', 'Flowers & Gifts', 'Funeral Services & Cemeteries', 'Comedy Clubs', 'Outdoor Gear', 'Bed & Breakfast', 'German', 'Boat Charters', 'Professional Services', 'Business Consulting', 'Cheese Shops', 'Christmas Trees', 'Home & Garden', 'Arabic', 'Tiki Bars', 'Argentine', 'Fitness & Instruction', 'Yoga', 'Portuguese', 'Dim Sum', 'Hot Pot', 'Home Services', 'Real Estate', 'Kitchen Incubators', 'Butcher', 'Car Stereo Installation', 'Auto Detailing', 'Trailer Repair', 'Parking', 'Self Storage', 'RV Repair', 'Smog Check Stations', 'Auto Repair', 'Oil Change Stations', 'Counseling & Mental Health', 'Transmission Repair', 'Health & Medical', 'Body Shops', 'Windshield Installation & Repair', 'Auto Glass Services', 'Tires', 'Roadside Assistance', 'Battery Stores', 'Tennis', 'Home Cleaning', 'Thrift Stores', 'Fondue', 'Kosher', 'Religious Organizations', 'Custom Cakes', 'Skin Care', 'Hair Salons', 'Party Supplies', 'Cantonese', 'International Grocery', 'Candy Stores', 'Brasseries', 'Distilleries', 'Community Service/Non-Profit', 'Used Bookstore', 'Golf Equipment', 'Salvadoran', 'Chiropractors', 'Mongolian', 'Country Clubs', 'British', 'Patisserie/Cake Shop', 'Waffles', 'Home Decor', 'Wedding Planning', 'Syrian', 'Musicians', 'Boating', 'Gay Bars', 'Herbs & Spices', 'Armenian', 'Chocolatiers & Shops', 'Churches', 'Drugstores', 'Venezuelan', 'Wholesalers', 'Specialty Schools', 'Cooking Classes', 'Arts & Crafts', 'Cooking Schools', 'Food Tours', 'Yelp Events', 'Tours', 'Educational Services', 'Financial Services', 'Banks & Credit Unions', 'Colombian', 'Brazilian', 'Haitian', 'Couriers & Delivery Services', 'Russian', 'Czech', 'Indoor Playcentre', 'Kids Activities', 'Himalayan/Nepalese', 'Pop-Up Restaurants', 'Parks', 'Dog Parks', 'Beer Tours', 'Adult Entertainment', 'Club Crawl', 'Electronics Repair', 'Smokehouse', 'Polish', 'Hainan', 'Books', 'Mags', 'Music & Video', 'Bookstores', 'Sports Clubs', 'Beaches', 'Swimming Pools', 'Photography Stores & Services', 'Gun/Rifle Ranges', 'Cabaret', 'Cafeteria', 'Barbers', 'Cambodian', 'Afghan', 'Bartenders', 'Motorcycle Dealers', 'Tuscan', 'Restaurant Supplies', 'Public Markets', 'Jewelry', 'Somali', 'Building Supplies', 'Herbal Shops', 'Movers', 'Hardware Stores', 'Junk Removal & Hauling', 'Amusement Parks', 'Indonesian', 'Public Services & Government', 'Departments of Motor Vehicles', 'Wholesale Stores', 'Cosmetics & Beauty Supply', 'Nutritionists', 'Batting Cages', 'Piano Bars', 'Senegalese', 'Appliances & Repair', 'Crane Services', 'Heating & Air Conditioning/HVAC', 'Cards & Stationery', 'Shared Office Spaces', 'Coffeeshops', "Children's Clothing", 'Department Stores', "Men's Clothing", 'Grilling Equipment', 'Beverage Store', 'Strip Clubs', 'Golf Lessons', 'Massage', 'Car Dealers', 'Bar Crawl', 'Singaporean', 'Boat Tours', 'Fireworks', 'Cosmetic Surgeons', 'Doctors', 'Nail Salons', 'Guns & Ammo', 'Pediatricians', 'Waxing', 'Hair Removal', 'Pool & Billiards', 'Cannabis Dispensaries', 'Macarons', 'Maternity Wear', 'Travel Services', 'Austrian', 'Child Care & Day Care', 'Parent Cafes', 'Basque', 'Eyewear & Opticians', 'Personal Shopping', 'Pop-up Shops', 'Kombucha', 'Calabrian', 'Australian', 'Stadiums & Arenas', 'Iberian', 'Wine Tours', 'Farms', 'Historical Tours', 'Japanese Curry', 'Home Theatre Installation', 'TV Mounting', 'Massage Therapy', 'Naturopathic/Holistic', 'Vape Shops', 'Cannabis Clinics', 'Drive-Thru Bars', 'Ethnic Grocery', 'Car Wash', 'Country Dance Halls', 'Musical Instruments & Teachers', 'Preschools', 'Elementary Schools', 'Pawn Shops', 'International', 'Popcorn Shops', 'Dinner Theater', 'Walking Tours', 'Izakaya', 'Nicaraguan', 'Traditional Chinese Medicine', 'Party Bus Rentals', 'Bus Tours', 'Bangladeshi', 'Religious Items', 'Laser Tag', 'Pharmacy', 'Lawn Services', 'Landscaping', 'Food Banks', 'Kitchen & Bath', 'Ski Resorts', 'Antiques', 'Horseback Riding', 'Scottish', 'Print Media', 'Mass Media', 'Pancakes', 'Unofficial Yelp Events', 'Fishing', 'Dance Schools', 'Eyebrow Services', 'Psychiatrists', 'Neurologist', 'Medical Spas', 'Family Practice', 'Wigs', 'Belgian', 'Hobby Shops', 'Visitor Centers', 'Soccer', 'Amateur Sports Teams', 'Tax Services', 'Lahmacun', 'Gift Shops', 'Landmarks & Historical Buildings', 'Music & DVDs', 'Toy Stores', 'Bistros', 'Dietitians', 'Floral Designers', 'Animal Shelters', 'Discount Store', 'Outlet Stores', 'Guest Houses', 'Egyptian', 'Sri Lankan', 'Tattoo', 'Gymnastics', 'Trainers', 'Recreation Centers', 'Pilates', 'Gyms', 'Medical Centers', 'Taxis', 'Public Transportation', 'Airport Shuttles', 'Transportation', 'Train Stations', 'Uzbek', 'Skating Rinks', 'Mattresses', 'Furniture Stores', 'Scandinavian', 'Interior Design', 'Cigar Bars', 'Adult Education', 'Buddhist Temples', 'Veterinarians', 'Tabletop Games', 'Electronics', 'Mobile Phones', 'Paint & Sip', 'Trampoline Parks', 'Rafting/Kayaking', 'Bike Rentals', 'Paddleboarding', 'Champagne Bars', 'Delicatessen', 'Leisure Centers', 'Flea Markets', 'Videos & Video Game Rental', 'Auto Customization', 'Aquariums', 'Bikes', 'Bike Repair/Maintenance', 'Watches', 'Home Organization', 'Israeli', 'Appliances', 'Playgrounds', 'Newspapers & Magazines', 'Leather Goods', 'Real Estate Services', 'Used', 'Vintage & Consignment', 'Shaved Snow', 'Property Management', 'Nurseries & Gardening', 'Cideries', 'Speakeasies', 'Beer Hall', 'Olive Oil', 'Dry Cleaning & Laundry', 'Kitchen Supplies', 'Wheel & Rim Repair', 'Internal Medicine', 'Comic Books', 'Private Tutors', 'Tutoring Centers', 'Georgian', 'Ukrainian', 'Video Game Stores', 'LAN Centers', 'Marketing', 'Graphic Design', 'Advertising', 'Jails & Prisons', 'Pest Control', 'Accountants', 'Financial Advising', 'Plumbing', 'Water Heater Installation/Repair', 'Contractors', 'Clothing Rental', 'Airports', 'Fuzhou', 'Grill Services', 'Tree Services', 'Holiday Decorations', 'Real Estate Agents', 'Apartments', 'Hostels', 'Shoe Stores', 'Lawyers', 'Billing Services', 'Plastic Surgeons', 'Golf Cart Rentals', 'Honey', 'Wildlife Control', 'Osteopaths', 'Hospitals', 'Propane', 'Costumes', 'South African', 'Hunting & Fishing Supplies', 'Auto Parts & Supplies', 'Boat Repair', 'Marinas', 'Tableware', 'Roofing', 'Solar Installation', 'Head Shops', 'Community Centers', 'Cultural Center', 'Rolfing', 'Check Cashing/Pay-day Loans', 'Kiosk', 'Adult', 'Colleges & Universities', 'Art Museums', 'Roman', 'Ticket Sales', 'Supper Clubs', 'Axe Throwing', 'Painters', 'Pressure Washers', 'Water Purification Services', 'Septic Services', 'Beach Bars', 'Horse Racing', 'Piercing', 'Pet Training', 'Vacation Rentals', 'Vinyl Records', 'Poutineries', 'Blow Dry/Out Services', 'Hair Extensions', 'Hair Stylists', 'Hungarian', 'Dance Studios', 'Shipping Centers', 'Spiritual Shop', 'Photographers', 'Homeowner Association', 'Team Building Activities', 'Bocce Ball', 'Candle Stores', 'Art Classes', 'Eyelash Service', 'Guamanian', 'Climbing', 'Perfume', 'Laundry Services', 'Zoos', 'Pet Photography', 'CSA', 'Recycling Center', 'Web Design', 'Airport Lounges', 'Mobile Phone Repair', 'Pet Groomers', 'Limos', 'Tonkatsu', 'Donburi', 'Travel Agents', 'Acupuncture', 'Weight Loss Centers', 'Audio/Visual Equipment Rental', 'RV Parks', 'Pita', 'Dry Cleaning', 'Laundromat', 'Hiking', 'Dentists', 'General Dentistry', 'Outdoor Furniture Stores', 'Reiki', 'Supernatural Readings', 'Botanical Gardens', 'Drive-In Theater', 'Municipality', 'Eastern European', 'Party Characters', 'Threading Services', 'Session Photography', 'Auction Houses', 'Music Production Services', 'Recording & Rehearsal Studios', 'Packing Services', 'Car Share Services', 'Office Cleaning', 'Brewing Supplies', 'Ice Delivery', 'Truck Rental', 'Commercial Truck Dealers', 'Customized Merchandise', 'Screen Printing/T-Shirt Printing', 'Service Stations', 'Pet Boarding', "Men's Hair Salons", 'Fireplace Services', 'Virtual Reality Centers', 'Pick Your Own Farms', 'Art Tours', 'Livestock Feed & Supply', 'Oral Surgeons', 'Skate Shops', 'Diagnostic Imaging', 'Diagnostic Services', 'Radiologists', 'Sports Betting', 'Bridal', 'Airport Terminals', 'Flight Instruction', 'Cucina campana', 'Carpet Cleaning', 'Nail Technicians', 'Radio Stations', 'Fire Departments', 'Ethical Grocery', 'Trains', 'Personal Injury Law', 'Business Law', 'Contract Law', 'Real Estate Law', 'Employment Law', 'Legal Services', 'Divorce & Family Law', 'General Litigation', 'Personal Assistants', 'Trivia Hosts', 'Conveyor Belt Sushi', 'Rest Stops', 'Landscape Architects', 'Reflexology', 'Libraries', 'Wedding Chapels', 'Water Stores', 'Special Education', 'Hotel bar', 'Makeup Artists', 'Health Retreats', 'Airlines', 'Hindu Temples', 'Investing', 'Auto Loan Providers', 'Haunted Houses', 'Escape Games', 'Furniture Reupholstery', 'Damage Restoration', 'Air Duct Cleaning', 'Commercial Truck Repair', 'Countertop Installation', 'Security Systems', 'Gardeners', 'Irrigation', 'Garage Door Services', 'Keys & Locksmiths', 'Serbo Croatian', 'Towing', 'Hair Loss Centers', 'Gemstones & Minerals']